.cmp-instagram {

  &__layout {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*border: 2px solid blue;*/

    &--is-mixed {

      .cmp-instagram__feed:first-child {
        /*border: 1px solid red;*/
        flex: 1 1 100%;
        margin: 5px 0 15px 5px;
      }

    }

  }

  &__image {
    width:100%;
  }

  &__feed {
    margin: 5px;
    /*border: 1px solid green;*/
    flex: 1 1 45%;

    &:nth-of-type(odd) {
      margin-left: 10px;
    }

    &:nth-of-type(even) {
      margin-right: 10px;
    }

  }

}

#wknd-ig-modal {
  display: none;
  position: fixed;
  left: 0%;
  top: 1%;

  border: 1px solid blue;

  width: calc(100% - 1%);
  height: calc(100% - 1%);
  background: white;
  z-index: 999999;
}
