.cpm-instagram-modal {

  @keyframes show-animation {
    from { opacity: 0.1; transform: translate(-100%, 0); }
    to   { opacity: 1; transform: translate(0, 0); }
  }

  &__carousel {

    @media only screen and (min-width: $screen-small) {
      margin: 15px 15px;
    }

  }

  &__media-image {
    width: 100%;

    &.show {
      display: block;
      animation: show-animation 300ms;
    }

    &.hide {
      display: none;
    }

  }

}

#wkn-modal-prev,
#wkn-modal-next {
  cursor: pointer;
  position: absolute;
  top: calc(50%);
  width: auto;
  padding: 16px;
  color: #d3d3d3;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  left: 0%;
  transform: translate(0%,-50%);

  @media only screen and (min-width: $screen-small) {
    left: 0%;
  }

}

#wkn-modal-next {

  left: 92%;

  @media only screen and (min-width: $screen-small) {
    left: 48%;
  }

}
