<div data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
     data-sly-use.igfeedlist="com.adobe.aem.guides.wknd.core.models.InstagramFeedList"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     id="${component.id}"
     class="cmp-instagram"
     data-sly-use.media="media.js">
    <span class="cmp-instagram-list__properties">
        ${media.title}
    </span>
    <div class="cmp-instagram__layout cmp-instagram__layout--is-mixed"
         data-sly-test.posts="${igfeedlist.posts}">
        <div class="cmp-instagram__feed"
             data-sly-repeat.item="${posts}">
            <img class="cmp-instagram__image" src="${item.shortcode_media.display_resources[0].src @ context='uri'}" >
        </div>
    </div>

    <p>${media.responseText}</p>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!properties.igMediaId, classAppend='cmp-instagram-list'}"></sly>
